.cache/
.coverage
.coverage.*
.DS_Store
.installed.cfg
.pytest_cache
.Python
.tox/
*.egg-info
*.pyc
*.swp
*~
bin
build
chromedriver.log
coverage-report/
coverage.xml
develop-eggs
dist/
doc/_api
doc/_build
eggs
geckodriver.log
include
junit-*.xml
lib
local
local.cfg
parts
pip-selfcheck.json
pyvenv.cfg
