name: tests

on:
  push:
    branches: [ master ]
  pull_request:
  schedule:
    - cron: '0 1 * * 0'  # run once a week on Sunday

jobs:
  build:
    strategy:
      matrix:
        config:
        # [Python version, tox env]
        - ["3.7",   "py37"]
        - ["3.8",   "py38"]
        - ["3.9",   "py39"]
        flavour:
          - wsgi
          - plonetesting
          - grok
        state:
          - headless
          # - head  # disabled because it needs xvfb which is not so easy to set up on GHA

    runs-on: ubuntu-latest
    name: ${{ matrix.config[1] }}-${{ matrix.flavour }}-ff-${{ matrix.state}}
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.config[0] }}
    - name: Pip cache
      uses: actions/cache@v2
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('setup.*', 'tox.ini') }}
        restore-keys: |
          ${{ runner.os }}-pip-
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install tox
        sudo apt-get update
        sudo apt-get install firefox firefox-geckodriver
    - name: Test
      run:
        tox -e ${{ matrix.config[1] }}-${{ matrix.flavour }}-ff-${{ matrix.state}}
    - name: Report to coveralls
      run: |
        pip install coverage coveralls
        coverage combine
        coveralls --service=github
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
